button::before
{
  font-family: 'Material Icons';
  display: inline-block;
  /* line-height: .5em; */
  margin: 2px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;	/* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;	/* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; 	/* Support for Firefox. */
  font-feature-settings: 'liga';		/* Support for IE. */
}

.checked::before {
	content: "check";position: absolute;right:0;top:0;
}

icon::before, button::before, action:empty::before{
	content:attr(class);
}